@import "tailwindcss";
@import "tailwindcss/utilities";


:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 248, 245, 242;
  /* Color Palette */
  --color-primary: #4a0000;
  --color-secondary: #e7c583;
  --color-secondary-light: #f3e2bf;
  --color-tertiary: #2E1A13;
  --color-soft-white: #F8F5F2;
  --color-dark-text: #1A1A1A;
  --color-light-text: #F8F5F2;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.bg-primary{
  background-color: var(--color-primary);
}
.bg-secondary{
  background-color: var(--color-secondary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.border-primary {
  border-color: var(--color-primary);
}
.text-light {
  color: var(--color-light-text);
}

.text-dark {
  color: var(--color-dark-text);
}

.bg-soft-white {
  background-color: var(--color-soft-white);
}

.border-tertiary {
  border-color: var(--color-tertiary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

a:hover .link-underline {
  width: 100%;
}

.group:hover .group-hover\:block {
  display: block;
}

